---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import About from '../components/About.astro';
import Integrations from '../components/Integrations.astro';
import Qualities from '../components/Qualities.astro';
import Logos from '../components/Logos.astro';
---

<DefaultLayout>
	<div class="max-w-screen-xl mx-auto px-5">
		<About/>
		<Logos/>
		<Qualities/>
		<Integrations/>
	</div>
</DefaultLayout>	
