<div class="bg-gradient-to-bl from-indigo-900 to-indigo-700 p-8 md:px-20 md:py-20 mt-24 flex flex-col items-center text-center">
    <h2 class="text-white text-4xl md:text-6xl tracking-tight">
        The fastest websites on the market
    </h2>
    <p class="text-white/70 mt-4 text-lg md:text-xl">
        We use the most advanced technologies on the market to ensure our websites are incredibly fast.
    </p>
</div>
