<div id="integrations" class="pt-24">
    <div class="text-center">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Integrations</h1>
        <p class="text-lg mt-4 text-slate-500 mx-auto max-w-xl">
            Connect over 200+ tools with our easy to use integrations.
        </p>
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 my-24 gap-x-10 gap-y-24">
        <div class="rounded-2xl relative flex items-center flex-col p-6 group bg-white transition ring-2 ring-slate-200/50 shadow hover:ring-slate-200 hover:shadow-md">
            <div class="ring-2 ring-slate-200/50 w-16 h-16 group-hover:ring-slate-200 transition shadow shadow-slate-100 rounded-lg grid place-items-center -mt-16 bg-white">
                <svg width="71" height="71" viewBox="0 0 71 71" class="w-8 h-8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_710_758)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.7457 0C21.8641 0.00289501 18.7226 3.18161 18.7255 7.09855C18.7226 11.0155 21.8669 14.1942 25.7486 14.1971H32.7717V7.10145C32.7746 3.18451 29.6303 0.00579001 25.7457 0C25.7486 0 25.7486 0 25.7457 0ZM25.7457 18.9333H7.02313C3.14148 18.9362 -0.00286108 22.1149 7.84041e-06 26.0319C-0.00573001 29.9488 3.13861 33.1275 7.02026 33.1333H25.7457C29.6274 33.1304 32.7717 29.9517 32.7689 26.0348C32.7717 22.1149 29.6274 18.9362 25.7457 18.9333Z" fill="#36C5F0"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M70.22 26.0319C70.2229 22.1149 67.0786 18.9362 63.1969 18.9333C59.3152 18.9362 56.1709 22.1149 56.1738 26.0319V33.1333H63.1969C67.0786 33.1304 70.2229 29.9517 70.22 26.0319ZM51.4946 26.0319V7.09855C51.4974 3.18451 48.356 0.00579001 44.4743 0C40.5926 0.00289501 37.4483 3.18161 37.4512 7.09855V26.0319C37.4454 29.9488 40.5898 33.1275 44.4714 33.1333C48.3531 33.1304 51.4974 29.9517 51.4946 26.0319Z" fill="#2EB67D"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M44.4704 71C48.352 70.9971 51.4964 67.8184 51.4935 63.9014C51.4964 59.9845 48.352 56.8058 44.4704 56.8029H37.4473V63.9014C37.4444 67.8155 40.5887 70.9942 44.4704 71ZM44.4704 52.0638H63.1959C67.0775 52.0609 70.2219 48.8822 70.219 44.9652C70.2247 41.0483 67.0804 37.8696 63.1987 37.8638H44.4733C40.5916 37.8667 37.4473 41.0454 37.4501 44.9623C37.4473 48.8822 40.5887 52.0609 44.4704 52.0638Z" fill="#ECB22E"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.96166e-06 44.9653C-0.00286696 48.8822 3.14147 52.0609 7.02313 52.0638C10.9048 52.0609 14.0491 48.8822 14.0463 44.9653V37.8667H7.02313C3.14147 37.8696 -0.00286696 41.0483 1.96166e-06 44.9653ZM18.7255 44.9653V63.8986C18.7197 67.8155 21.8641 70.9942 25.7457 71C29.6274 70.9971 32.7717 67.8184 32.7688 63.9015V44.971C32.7746 41.0541 29.6302 37.8754 25.7486 37.8696C21.8641 37.8696 18.7226 41.0483 18.7255 44.9653Z" fill="#E01E5A"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_710_758">
                            <rect width="70.2198" height="71" fill="white"></rect>
                        </clipPath>
                    </defs>
                </svg> 
            </div>
            <h3 class="text-xl lg:text-2xl font-medium mt-4">Slack</h3>
            <p class="text-slate-600 mt-2 text-center [text-wrap:balance]"> 
                Get notified in your Slack channels when a new order is placed. 
            </p>
            <div class="mt-3"> 
                <a href="https://slack.com/" target="_blank" rel="noopener noreferrer" class="text-sm px-2 transition py-1 text-indigo-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    View Integration
                    <span class="absolute inset-0"></span> 
                </a> 
            </div>
        </div>
        <div class="rounded-2xl relative flex items-center flex-col p-6 group bg-white transition ring-2 ring-slate-200/50 shadow hover:ring-slate-200 hover:shadow-md">
            <div class="ring-2 ring-slate-200/50 w-16 h-16 group-hover:ring-slate-200 transition shadow shadow-slate-100 rounded-lg grid place-items-center -mt-16 bg-white">
                <svg class="w-8 h-8" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_710_791)">
                        <path d="M43.7497 35.0153C43.7509 37.5393 43.2956 40.0427 42.4058 42.4047C40.043 43.2944 37.539 43.7504 35.0142 43.7508H34.9847C32.3848 43.7475 29.8938 43.2723 27.5953 42.4058C26.7049 40.0436 26.2491 37.5398 26.25 35.0153V34.9847C26.2488 32.4612 26.7036 29.9582 27.5926 27.5964C29.9552 26.705 32.4598 26.2489 34.985 26.25H35.0145C37.5394 26.2488 40.0437 26.7049 42.4061 27.5961C43.296 29.9577 43.7513 32.4608 43.75 34.9844V35.015L43.7497 35.0153ZM69.5138 29.1668H49.0837L63.5291 14.7202C62.3953 13.1275 61.1305 11.6322 59.748 10.2498V10.2487C58.3654 8.86782 56.8705 7.6042 55.2787 6.4709L40.8321 20.9174V0.487266C38.9108 0.164043 36.9659 0.00106009 35.0175 0L34.9814 0C32.9995 0.00109375 31.0584 0.169531 29.1668 0.487266V20.9174L14.7202 6.4709C13.1281 7.6039 11.6338 8.86842 10.2531 10.2512L10.2454 10.2566C8.86527 11.6373 7.60228 13.1303 6.46953 14.7202L20.9171 29.1668H0.487266C0.487266 29.1668 0 33.0039 0 34.988V35.012C0 36.9961 0.168164 38.9405 0.487266 40.8332H20.9174L6.4698 55.2798C8.74252 58.4691 11.5309 61.2575 14.7202 63.5302L29.1668 49.0826V69.5138C31.086 69.8354 33.0286 69.9981 34.9746 70H35.0241C36.9701 69.9982 38.9126 69.8356 40.8319 69.5138V49.0826L55.2798 63.5302C56.8713 62.3965 58.3658 61.1325 59.748 59.7513L59.7513 59.748C61.1319 58.3656 62.3955 56.871 63.5291 55.2798L49.0815 40.8332H69.5138C69.8318 38.9438 69.9978 37.0051 70 35.0254V34.9746C69.9978 32.9949 69.8318 31.0562 69.5138 29.1668Z" fill="#FF4A00"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_710_791">
                            <rect width="70" height="70" fill="white"></rect>
                        </clipPath>
                    </defs>
                </svg> 
            </div>
            <h3 class="text-xl lg:text-2xl font-medium mt-4">Zapier</h3>
            <p class="text-slate-600 mt-2 text-center [text-wrap:balance]"> 
                Connect over 200+ tools with our easy to use Zapier integrations. 
            </p>
            <div class="mt-3"> 
                <a href="https://zapier.com/" target="_blank" rel="noopener noreferrer" class="text-sm px-2 transition py-1 text-indigo-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    View Integration
                    <span class="absolute inset-0"></span> 
                </a> 
            </div>
        </div>
        <div class="rounded-2xl relative flex items-center flex-col p-6 group bg-white transition ring-2 ring-slate-200/50 shadow hover:ring-slate-200 hover:shadow-md">
            <div class="ring-2 ring-slate-200/50 w-16 h-16 group-hover:ring-slate-200 transition shadow shadow-slate-100 rounded-lg grid place-items-center -mt-16 bg-white">
                <svg class="w-8 h-8" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_710_793)">
                        <path d="M60.6668 38.4858C60.6601 39.1003 60.4113 39.6873 59.9745 40.1195C59.5376 40.5516 58.9479 40.794 58.3334 40.794C57.7189 40.794 57.1292 40.5516 56.6923 40.1195C56.2554 39.6873 56.0067 39.1003 56 38.4858V17.5C56.0067 16.8855 56.2554 16.2985 56.6923 15.8663C57.1292 15.4341 57.7189 15.1917 58.3334 15.1917C58.9479 15.1917 59.5376 15.4341 59.9745 15.8663C60.4113 16.2985 60.6601 16.8855 60.6668 17.5V38.4858ZM59.8525 53.0909C59.4918 53.3996 50.8482 60.6528 35 60.6528C19.1521 60.6528 10.5087 53.3993 10.1481 53.0906C9.67831 52.6878 9.38776 52.1149 9.34033 51.4979C9.2929 50.8808 9.49247 50.2702 9.89516 49.8004C10.297 49.3312 10.8685 49.0406 11.4843 48.9923C12.1001 48.944 12.7099 49.142 13.18 49.5428C13.317 49.6576 21.0355 55.9858 35.0003 55.9858C49.1403 55.9858 56.7394 49.612 56.8146 49.5477C57.791 48.7091 59.2668 48.8217 60.1048 49.8006C60.5077 50.2704 60.7074 50.881 60.66 51.498C60.6127 52.1151 60.3222 52.688 59.8525 53.0909ZM9.33324 17.5C9.33989 16.8855 9.58866 16.2985 10.0255 15.8663C10.4624 15.4341 11.0521 15.1917 11.6666 15.1917C12.2811 15.1917 12.8708 15.4341 13.3077 15.8663C13.7446 16.2985 13.9933 16.8855 14 17.5V38.4858C13.9933 39.1003 13.7446 39.6873 13.3077 40.1195C12.8708 40.5516 12.2811 40.794 11.6666 40.794C11.0521 40.794 10.4624 40.5516 10.0255 40.1195C9.58866 39.6873 9.33989 39.1003 9.33324 38.4858V17.5ZM21.0003 12.8332C21.0097 12.2206 21.2596 11.6363 21.6961 11.2063C22.1327 10.7764 22.7208 10.5354 23.3335 10.5354C23.9462 10.5354 24.5343 10.7764 24.9709 11.2063C25.4074 11.6363 25.6574 12.2206 25.6668 12.8332V44.0054C25.6574 44.618 25.4074 45.2024 24.9709 45.6323C24.5343 46.0622 23.9462 46.3032 23.3335 46.3032C22.7208 46.3032 22.1327 46.0622 21.6961 45.6323C21.2596 45.2024 21.0097 44.618 21.0003 44.0054V12.8332ZM32.6668 11.6525C32.6667 11.3461 32.727 11.0427 32.8443 10.7596C32.9615 10.4765 33.1334 10.2193 33.3501 10.0026C33.5667 9.78594 33.824 9.61408 34.1071 9.49683C34.3902 9.37959 34.6936 9.31926 35 9.3193C35.3064 9.31923 35.6099 9.37952 35.893 9.49675C36.1761 9.61398 36.4334 9.78584 36.6501 10.0025C36.8668 10.2192 37.0387 10.4764 37.156 10.7595C37.2732 11.0427 37.3336 11.3461 37.3335 11.6525V45.4858C37.3269 46.1003 37.0781 46.6873 36.6412 47.1195C36.2044 47.5516 35.6146 47.794 35.0001 47.794C34.3856 47.794 33.7959 47.5516 33.359 47.1195C32.9222 46.6873 32.6734 46.1003 32.6668 45.4858V11.6525ZM44.3335 12.8332C44.3429 12.2206 44.5928 11.6363 45.0294 11.2063C45.4659 10.7764 46.0541 10.5354 46.6668 10.5354C47.2795 10.5354 47.8676 10.7764 48.3041 11.2063C48.7407 11.6363 48.9906 12.2206 49 12.8332V44.0054C48.9906 44.618 48.7407 45.2024 48.3041 45.6323C47.8676 46.0622 47.2795 46.3032 46.6668 46.3032C46.0541 46.3032 45.4659 46.0622 45.0294 45.6323C44.5928 45.2024 44.3429 44.618 44.3335 44.0054V12.8332ZM61.25 0H8.75C3.91754 0 0 3.91754 0 8.75V61.25C0 66.0822 3.91754 70 8.75 70H61.25C66.0825 70 70 66.0822 70 61.25V8.75C70 3.91754 66.0825 0 61.25 0Z" fill="#1F8DED"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_710_793">
                            <rect width="70" height="70" fill="white"></rect>
                        </clipPath>
                    </defs>
                </svg> 
            </div>
            <h3 class="text-xl lg:text-2xl font-medium mt-4">Intercom</h3>
            <p class="text-slate-600 mt-2 text-center [text-wrap:balance]"> 
                Send order updates and emails to your customers via Intercom.
            </p>
            <div class="mt-3"> 
                <a href="https://www.intercom.com/" target="_blank" rel="noopener noreferrer" class="text-sm px-2 transition py-1 text-indigo-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    View Integration
                    <span class="absolute inset-0"></span> 
                </a> 
            </div>
        </div>
        <div class="rounded-2xl relative flex items-center flex-col p-6 group bg-white transition ring-2 ring-slate-200/50 shadow hover:ring-slate-200 hover:shadow-md">
            <div class="ring-2 ring-slate-200/50 w-16 h-16 group-hover:ring-slate-200 transition shadow shadow-slate-100 rounded-lg grid place-items-center -mt-16 bg-white">
                <svg class="w-8 h-8" width="70" height="80" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 214">
                    <path fill="#635BFF" d="M512 110.08c0-36.409-17.636-65.138-51.342-65.138c-33.85 0-54.33 28.73-54.33 64.854c0 42.808 24.179 64.426 58.88 64.426c16.925 0 29.725-3.84 39.396-9.244v-28.445c-9.67 4.836-20.764 7.823-34.844 7.823c-13.796 0-26.027-4.836-27.591-21.618h69.547c0-1.85.284-9.245.284-12.658m-70.258-13.511c0-16.071 9.814-22.756 18.774-22.756c8.675 0 17.92 6.685 17.92 22.756zm-90.31-51.627c-13.939 0-22.899 6.542-27.876 11.094l-1.85-8.818h-31.288v165.83l35.555-7.537l.143-40.249c5.12 3.698 12.657 8.96 25.173 8.96c25.458 0 48.64-20.48 48.64-65.564c-.142-41.245-23.609-63.716-48.498-63.716m-8.534 97.991c-8.391 0-13.37-2.986-16.782-6.684l-.143-52.765c3.698-4.124 8.818-6.968 16.925-6.968c12.942 0 21.902 14.506 21.902 33.137c0 19.058-8.818 33.28-21.902 33.28M241.493 36.551l35.698-7.68V0l-35.698 7.538zm0 10.809h35.698v124.444h-35.698zm-38.257 10.524L200.96 47.36h-30.72v124.444h35.556V87.467c8.39-10.951 22.613-8.96 27.022-7.396V47.36c-4.551-1.707-21.191-4.836-29.582 10.524m-71.112-41.386l-34.702 7.395l-.142 113.92c0 21.05 15.787 36.551 36.836 36.551c11.662 0 20.195-2.133 24.888-4.693V140.8c-4.55 1.849-27.022 8.391-27.022-12.658V77.653h27.022V47.36h-27.022zM35.982 83.484c0-5.546 4.551-7.68 12.09-7.68c10.808 0 24.461 3.272 35.27 9.103V51.484c-11.804-4.693-23.466-6.542-35.27-6.542C19.2 44.942 0 60.018 0 85.192c0 39.252 54.044 32.995 54.044 49.92c0 6.541-5.688 8.675-13.653 8.675c-11.804 0-26.88-4.836-38.827-11.378v33.849c13.227 5.689 26.596 8.106 38.827 8.106c29.582 0 49.92-14.648 49.92-40.106c-.142-42.382-54.329-34.845-54.329-50.774" />
                </svg>
            </div>
            <h3 class="text-xl lg:text-2xl font-medium mt-4">Stripe</h3>
            <p class="text-slate-600 mt-2 text-center [text-wrap:balance]"> 
                Access an optimized set of tools to accept online payments worldwide.
            </p>
            <div class="mt-3"> 
                <a href="https://stripe.com/payments" target="_blank" rel="noopener noreferrer" class="text-sm px-2 transition py-1 text-indigo-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    View Integration
                    <span class="absolute inset-0"></span> 
                </a> 
            </div>
        </div>
        <div class="rounded-2xl relative flex items-center flex-col p-6 group bg-white transition ring-2 ring-slate-200/50 shadow hover:ring-slate-200 hover:shadow-md">
            <div class="ring-2 ring-slate-200/50 w-16 h-16 group-hover:ring-slate-200 transition shadow shadow-slate-100 rounded-lg grid place-items-center -mt-16 bg-white">
                <svg class="w-8 h-8" width="70" height="70" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 260">
                    <path fill="black" d="M239.184 106.203a64.716 64.716 0 0 0-5.576-53.103C219.452 28.459 191 15.784 163.213 21.74A65.586 65.586 0 0 0 52.096 45.22a64.716 64.716 0 0 0-43.23 31.36c-14.31 24.602-11.061 55.634 8.033 76.74a64.665 64.665 0 0 0 5.525 53.102c14.174 24.65 42.644 37.324 70.446 31.36a64.72 64.72 0 0 0 48.754 21.744c28.481.025 53.714-18.361 62.414-45.481a64.767 64.767 0 0 0 43.229-31.36c14.137-24.558 10.875-55.423-8.083-76.483Zm-97.56 136.338a48.397 48.397 0 0 1-31.105-11.255l1.535-.87 51.67-29.825a8.595 8.595 0 0 0 4.247-7.367v-72.85l21.845 12.636c.218.111.37.32.409.563v60.367c-.056 26.818-21.783 48.545-48.601 48.601Zm-104.466-44.61a48.345 48.345 0 0 1-5.781-32.589l1.534.921 51.722 29.826a8.339 8.339 0 0 0 8.441 0l63.181-36.425v25.221a.87.87 0 0 1-.358.665l-52.335 30.184c-23.257 13.398-52.97 5.431-66.404-17.803ZM23.549 85.38a48.499 48.499 0 0 1 25.58-21.333v61.39a8.288 8.288 0 0 0 4.195 7.316l62.874 36.272-21.845 12.636a.819.819 0 0 1-.767 0L41.353 151.53c-23.211-13.454-31.171-43.144-17.804-66.405v.256Zm179.466 41.695-63.08-36.63L161.73 77.86a.819.819 0 0 1 .768 0l52.233 30.184a48.6 48.6 0 0 1-7.316 87.635v-61.391a8.544 8.544 0 0 0-4.4-7.213Zm21.742-32.69-1.535-.922-51.619-30.081a8.39 8.39 0 0 0-8.492 0L99.98 99.808V74.587a.716.716 0 0 1 .307-.665l52.233-30.133a48.652 48.652 0 0 1 72.236 50.391v.205ZM88.061 139.097l-21.845-12.585a.87.87 0 0 1-.41-.614V65.685a48.652 48.652 0 0 1 79.757-37.346l-1.535.87-51.67 29.825a8.595 8.595 0 0 0-4.246 7.367l-.051 72.697Zm11.868-25.58 28.138-16.217 28.188 16.218v32.434l-28.086 16.218-28.188-16.218-.052-32.434Z" />
                </svg>
            </div>
            <h3 class="text-xl lg:text-2xl font-medium mt-4">OpenAI</h3>
            <p class="text-slate-600 mt-2 text-center [text-wrap:balance]"> 
                Use the power of AI to generate personalized marketing campaigns.
            </p>
            <div class="mt-3"> 
                <a href="https://openai.com/business/" target="_blank" rel="noopener noreferrer" class="text-sm px-2 transition py-1 text-indigo-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    View Integration
                    <span class="absolute inset-0"></span> 
                </a> 
            </div>
        </div>
        <div class="rounded-2xl relative flex items-center flex-col p-6 group bg-white transition ring-2 ring-slate-200/50 shadow hover:ring-slate-200 hover:shadow-md">
            <div class="ring-2 ring-slate-200/50 w-16 h-16 group-hover:ring-slate-200 transition shadow shadow-slate-100 rounded-lg grid place-items-center -mt-16 bg-white">
                <svg class="w-8 h-8" width="96" height="70" viewBox="-11.742 17.274 536.77512284 478.108" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none">
                        <path d="m176.794 73c21.321-40.32 71.28-55.726 111.605-34.407s55.711 71.274 34.41 111.596a88.176 88.176 0 0 1 -2.987 5.203l-165.162 285.99c-22.276 39.794-72.601 54-112.398 31.725-39.797-22.274-54.004-72.595-31.727-112.388.365-.65.731-1.28 1.097-1.91z" fill="#fbbc04" />
                        <path d="m356.354 221.01c21.321-40.32 71.28-55.726 111.605-34.407s55.711 71.274 34.41 111.596a88.175 88.175 0 0 1 -2.987 5.203l-79.405 137.557c-22.277 39.793-72.602 54-112.398 31.725s-54.004-72.595-31.728-112.389c.366-.65.732-1.28 1.098-1.91z" fill="#4285f4" />
                        <ellipse cx="82.581" cy="400.625" fill="#34a853" rx="82.581" ry="82.574" />
                    </g>
                </svg>
            </div>
            <h3 class="text-xl lg:text-2xl font-medium mt-4">Adsense</h3>
            <p class="text-slate-600 mt-2 text-center [text-wrap:balance]"> 
                Monetize your site with premium ads from trusted advertisers, maximizing revenue.
            </p>
            <div class="mt-3"> 
                <a href="https://adsense.google.com/start/" target="_blank" rel="noopener noreferrer" class="text-sm px-2 transition py-1 text-indigo-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                    View Integration
                    <span class="absolute inset-0"></span> 
                </a> 
            </div>
        </div>
    </div>
</div>