<div class="mt-24">
    <div class="text-center">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">FAQ</h1>
        <p class="text-lg mt-4 text-slate-500 mx-auto max-w-xl">Frequenty asked questions</p>
    </div>
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
        <div class="py-5">
            <details class="group">
                <summary class="flex justify-between items-center font-medium cursor-pointer list-none"> 
                    <span>What is NUIDEA?</span> 
                    <span class="transition group-open:rotate-180"> 
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                            <path d="M6 9l6 6 6-6"></path>
                        </svg> 
                    </span> 
                </summary>
                <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    NUIDEA is an all-in-one platform that allows you to create stunning and functional websites without the need for technical knowledge. We offer a wide range of tools and features to help you build and grow your online presence effectively.
                </p>
            </details>
        </div>
        <div class="py-5">
            <details class="group">
                <summary class="flex justify-between items-center font-medium cursor-pointer list-none"> 
                    <span>What types of websites can I create with NUIDEA?</span> 
                    <span class="transition group-open:rotate-180"> 
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                            <path d="M6 9l6 6 6-6"></path>
                        </svg> 
                    </span> 
                </summary>
                <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    NUIDEA, you can create a variety of websites, including personal blogs, online stores, professional portfolios, corporate websites and much more. Our modern and customizable templates adapt to different needs and styles.
                </p>
            </details>
        </div>
        <div class="py-5">
            <details class="group">
                <summary class="flex justify-between items-center font-medium cursor-pointer list-none"> 
                    <span>Do I need to know programming to use NUIDEA?</span> 
                    <span class="transition group-open:rotate-180"> 
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                            <path d="M6 9l6 6 6-6"></path>
                        </svg> 
                    </span> 
                </summary>
                <p class="text-neutral-600 mt-3 group-open:animate-fadeIn"> 
                    No, it is not necessary to have programming knowledge. NUIDEA offers an intuitive visual editor that allows you to customize your website by dragging and dropping elements, without the need to write code. 
                </p>
            </details>
        </div>
        <div class="py-5">
            <details class="group">
                <summary class="flex justify-between items-center font-medium cursor-pointer list-none"> 
                    <span>What integrations does NUIDEA offer?</span> 
                    <span class="transition group-open:rotate-180"> 
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                            <path d="M6 9l6 6 6-6"></path>
                        </svg> 
                    </span> 
                </summary>
                <p class="text-neutral-600 mt-3 group-open:animate-fadeIn"> 
                    NUIDEA integrates with a variety of popular services, including OpenAi, Google Analytics, Google Ads, PayPal, Stripe, and more. These integrations help you optimize your website performance and manage your business operations efficiently.
                </p>
            </details>
        </div>
        <div class="py-5">
            <details class="group">
                <summary class="flex justify-between items-center font-medium cursor-pointer list-none"> 
                    <span>What security measures does NUIDEA offer to protect my website?</span> 
                    <span class="transition group-open:rotate-180"> 
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"  stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                            <path d="M6 9l6 6 6-6"></path>
                        </svg> 
                    </span> 
                </summary>
                <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    NUIDEA has advanced security measures, including free SSL certificates, protection against hacker attacks, and constant monitoring to detect suspicious activity. Your safety and that of your visitors is our priority.
                </p>
            </details>
        </div>
        <div class="py-5">
            <details class="group">
                <summary class="flex justify-between items-center font-medium cursor-pointer list-none"> 
                    <span>How can I get support if I have a question or problem?</span> 
                    <span class="transition group-open:rotate-180"> 
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                            <path d="M6 9l6 6 6-6"></path>
                        </svg> 
                    </span> 
                </summary>
                <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    We offer dedicated technical support via live chat, email, and a detailed knowledge base. Our team is here to help you every step of the way and answer any questions you may have. 
                </p>
            </details>
        </div>
        <div class="py-5">
            <details class="group">
                <summary class="flex justify-between items-center font-medium cursor-pointer list-none"> 
                    <span>Can I update my plan or cancel at any time?</span> 
                        <span class="transition group-open:rotate-180"> 
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg> 
                        </span> 
                    </summary>
                <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    Yes, you can upgrade your plan at any time to access more features and resources, or cancel your subscription based on your needs. There are no long-term contracts or hidden fees.
                </p>
            </details>
        </div>
    </div>
</div>